@tailwind base;
@tailwind components;
@tailwind utilities;

/* Cambiar el color de fondo de la barra de desplazamiento */
::-webkit-scrollbar {
  width: 6px; /* Ancho de la barra de desplazamiento */
  background-color: #0a192f; /* Color de fondo */
}

/* Cambiar el color de la manija (thumb) de la barra de desplazamiento */
::-webkit-scrollbar-thumb {
  background-color: #495670; /* Color de la manija */
}
